@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
* {
  padding: 0;
  margin: 0; }

main {
  background-color: #d4e2ec;
  padding: 20px; }

header {
  background-color: #d4e2ec;
  padding: 20px; }

section img {
  padding: 25px; }

section h3 {
  font-size: 1em; }

section ol {
  font-family: "Noto Sans", sans serif;
  color: #19f887; }
  section ol li {
    color: #1658dd; }

section p {
  font-size: 2em;
  line-height: 1.4em;
  color: #e73e3e; }

nav {
  display: flex; }
  nav div ul {
    display: flex; }
    nav div ul li {
      list-style: none; }
      nav div ul li a {
        color: #1658dd; }
        nav div ul li a:hover {
          color: #19f887; }

footer {
  background-color: #e73e3e;
  padding: 1em;
  color: black;
  text-align: center; }
