@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{
    padding: 0%;
    margin: 0%;
    font-family: Noto Sans, sans serif;
}

/* selector universal reset */
html{
    size: 62.5%;
}
nav, h1, ul, header, img,  main, section, p, ol, ul,  footer{
    padding: 20px;
}
nav{
    grid-area: navegacion;
}
h1{
    grid-area: titulo;
}
ul{
    grid-area:lista desordenada;
}

header{
    grid-area:encabezado;
}
img{
    grid-area: imagen;
}
main{
  grid-area: menu ;
}
section{
    grid-area: seccion;
}
p{
    grid-area: parrafo;
}
ol{
    grid-area: lista ordenada;
}
footer{
    grid-area: pie;
}



body{
    /* background-image: url(../img/black.png) #000;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center; */
    /*background-size: cover;*/
    /* padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2px 50px 4px 25px 10px;
    grid-template-areas: "navegacion" "titulo" "lista desordenada" "encabezado" "imagen" "menu" "seccion" "parrafo" "lista ordenada" "pie"

}
@media only screen and(min-width: 320px){
    body{
        grid-template-columns: repeat(11,1 fr);
        grid-template-rows: 5vh 5vh 5vh 10vh 10vh 10vh 10vh 50vh ;
        grid-template-areas: "navegacion", "titulo", "lista desordenada", "encabezado", "imagen",  "menu", "seccion", "parrafo", "lista ordenada", "pie";
    }
    
}
    
@media only screen and(min-width: 1200px){
    body{
        grid-template-columns: repeat(2, 30%) 20px 30%; 
        grid-template-rows: 10vh 70vh 20vh; 
        grid-template-areas: "nav" "img" "section" "ol" "footer";
    }

}    