// Definimos varialbes globales

*{
	padding: 0;
	margin: 0;
}

//definimos colores
$primary:#1658dd;
$secondary:#19f887;
$main:#e73e3e;
$info: #d4e2ec;

//margin padding
$px-1:1em;
$mx-1:1em;

//display
$d-flex:flex;

//sizing
$w-50:50%;
$w-50:25%;




